.cancelbutton {
    width: 6rem;
    height: 2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid grey;
  }
  
  .addbutton {
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    background-color: rgb(247, 58, 58);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top:1.2rem ;
  }
  .addbutton:hover {
    background-color: rgb(251, 7, 7);
  }
  .alertbtn {
    cursor: pointer;
    width: 3rem;
    height: 2rem;
    background-color: rgb(33, 150, 243);
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 5px;
  }
  .alertbtn:hover {
    background-color: rgb(83, 165, 232);
  }
  .Addformbutton {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 1.7rem;
    background-color: white;
    width: 7rem;
    color: grey;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .Addformbutton:hover {
    background-color: rgb(247, 58, 58);
    color: white;
  }
  
  .backbtn {
    border: none;
    font-weight: 550;
    cursor: pointer;
    background-color: red;
    color: white;
    width: 11rem;
    font-size: 15px;
    height: 2.5rem;
    border-radius: 10px;
  }
  .deletebtn {
    width: 6rem;
    height: 2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  .deletebtn1{
    width: 6rem;
    height: 2rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .home{
    width:50vw;
    margin: auto;
    height: auto;
    height: 100vh;
  }
  
  
  .taskdiv{
    height: 10vh;
    justify-content: space-around;
    margin-top: 20px;
  }
  .task{
    height: 3.2rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .taskbtns{
    width: 9rem;
    display: flex;
    justify-content: space-between;
  }

  .btn1,.btn2{
    width: 4rem;
    padding: 3px;
    height: 1.8rem;
    border-radius: 10px;
    cursor: pointer ;
  }

  .btn2{
    background:red;
    color: white;
    font-weight: 550;
    font-size: 20px;
    border: none;
  }
  .btn1{
    font-weight: 550;
    border:0.5px solid red;
  }

  .taskdisplay{
    width: 4rem;
    display: flex;
    flex-direction: column;
    text-align: start;  
  }